<!-- -->
<launch>

  <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_map.launch"/>
  <!-- <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_sensing.launch"/> -->
  <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_localization.launch"/>
  <!--include file="$(find carla_autoware_bridge)/openPlanner_launch/my_detection.launch"/-->
  <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_common_params.launch"/>
  <!--include file="$(find carla_autoware_bridge)/openPlanner_launch/my_tracking.launch"/-->
  <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_open_planner.launch"/>
  <include file="$(find carla_autoware_bridge)/openPlanner_launch/my_path_follower.launch"/>

</launch>
