<launch>
    <!-- <arg name="waypoint_path" default="/home/kuriatsu/Source/catkin_ws/src/enjoy_carla/waypoint/Town05_waypoint_exp.csv"/> -->
    <arg name="start_point" default="138.851516724 -2.28138899803 0.00914668943733"/>
    <arg name="goal_point" default="154.993682861 15.7413663864 0.167141854763"/>
    <arg name="camera_transform" default="-0.18 -0.2 0.9 0.0 0.0 0.0"/>
    <arg name="camera_res" default="3840x1080"/>
    <arg name="ego_name" default="ego_vehicle"/>
    <arg name="camera_name" default="wide_front"/>

    <node pkg="enjoy_carla" type="camera_hud.py" name="camera_hud"
        args="
        --cameraname $(arg camera_name)
        --res $(arg camera_res)
        --start $(arg start_point)
        --transform $(arg camera_transform)
        --goal $(arg  goal_point)
        --egoname $(arg ego_name)
        "/>
    <node pkg="enjoy_carla" type="fake_ndt_node" name="fake_ndt"/>
    <!-- <node pkg="enjoy_carla" type="carla_waypoint_publisher_node" name="carla_waypoint_publisher">
        <param name="waypoint_path" value="$(arg waypoint_path)"/>
    </node> -->
</launch>
